COGNODB_URI=bolt+s://<your-cognodb-instance-id>.databases.cognodb.cloud:7687
COGNODB_PASSWORD=your-cognodb-password

NEO4J_URI=neo4j+s://<your-aura-instance-id>.databases.neo4j.io
NEO4J_USERNAME=<your-aura-instance-id>
NEO4J_PASSWORD=your-neo4j-password

MEMGRAPH_URI=bolt+ssc://<your-memgraph-instance-host-or-ip>:7687
MEMGRAPH_USERNAME=<your-memgraph-username>
MEMGRAPH_PASSWORD=your-memgraph-password

FALKORDB_URI=redis://<your-falkordb-connection-string>
FALKORDB_USERNAME=falkordb
FALKORDB_PASSWORD=your-falkordb-password

ARANGO_ENDPOINT=https://<your-arangodb-instance-id>.arangodb.cloud:8529
ARANGO_USERNAME=root
ARANGO_PASSWORD=your-arangodb-root-password
ARANGO_DATABASE=wexa_benchmark
